/* --- Theme for the dashboard --- */

/* --- Tags --- */

body {	
	padding-bottom: 200px;
	padding-top: 80px;
}

/* --- Overrides --- */

.navbar .navbar-nav a:hover, .navbar .navbar-nav li.active a {
	/* background: #2e2e2e; */
	background: rgba(255, 255, 255, 0.175);
}

.navbar .navbar-nav .dropdown-menu a:hover {
	background: #f4f4f4;
}

.navbar .open .dropdown-toggle {
	color: #000;
}

.navbar .open .dropdown-toggle:hover {
	color: #fff;
}

/* --- Custom stuff --- */

.dashboard-navbar {
	/* background: #3e3e3e; */
	background: #356aa0;
}

.dashboard-navbar a {
	color: #fff;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	transition: all 200ms linear;
}